/* @site: 全民電廠
 * @author: nikki
 * @update: nikki (2019-3-6)
 * @page: 認識電廠專家
 * @description: 認識電廠專家
 */

@import "../../setting/_variables.scss";
@import "../../setting/_mixins.scss";

/* common: extend ---*/
.page-kv {
    background-image: url("../../images/about_market_big_image.jpg");
}
.page-container {
    background-image: url("../../images/about_market_bgimage01.jpg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}
.page-kv--title {
    color: #838383;
}
.page-content {
    
    background-color: transparent;
    padding-bottom: 12rem;
    position: relative;
    z-index: 1;
    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 40rem;
        background-color: #fff;
        background-image: url("../../images/about_bgimage02.png");
        background-repeat: no-repeat;
        background-position: top center;
        background-size: 100%;
        z-index: -1;
    }
}
@include rwd($ipad) {
    .page-content {
        padding-bottom: 7rem;
    }

    .page-kv--img {
        width: 35vw;
        max-width: 259px;
    }
}

.article {
    max-width: 65rem;
    width: 100%;
    margin: 0 auto;
    color: $color-dark;
}

/*block: intro -----*/
.intro {
    padding-top: 1rem;
    &--title {
        font-size: 2.5rem;
        margin-bottom: 4rem;
    }
    &--subtitle {
        font-size: 1.63rem;
        letter-spacing: 0.12rem;
        font-weight: bold;
        margin-bottom: 0.94rem;
    }
    &--desc {
        font-size: 1.25rem;
        letter-spacing: 0.06rem;
        line-height: 1.88rem;
        color: $color-dark--2;
    }
}

@include rwd(#{$ipad - 1px}) {
    .intro {
        &--title {
            font-size: 1rem;
            margin-bottom: 2rem;
            text-align: center;
        }
        &--subtitle {
            width: 9rem;
            font-size: 1.06rem;
            letter-spacing: 0.06rem;
            line-height: 1.5rem;
            margin: 0 auto 1.5rem;
        }
        &--desc {
            font-size: 0.81rem;
            line-height: 1.31rem;
            letter-spacing: -0.01rem;
            text-align: justify;
        }
    }
}

/*block: goodpoint-container ----*/
.goodpoint-container {
    width: 100%;
    max-width: 60rem;
    margin: 3rem auto 2rem;
    @include flexbox;
    @include justify-content(space-between);
    @include align-items(flex-end);
}

.goodpoint {
    @include flexbox;
    @include flex-direction(column);
    @include justify-content(center);
    @include align-items(center);
    .icon-number {
        font-size: 3rem;
        color: #C8B86B;
        font-weight: bold;
        .unit-cha {
            font-size: 2.25rem;
            color: inherit;
        }
        .unit-dollor {
            font-size: 1.25rem;
            color:$color-dark--2;
        }
    }
    .icon-text {
        font-size: 1.5rem;
        letter-spacing: 0.1rem;
    }
}
@include rwd(#{$ipad - 1px}){
    .goodpoint {
        .icon-img {
            width: 2.89rem;
            margin: 0 auto;
        }
        .icon-number {
            font-size: 1.38rem;
            .unit-cha {
                font-size: 1.06rem;
            }
            .unit-dollor {
                font-size: 0.63rem;
            }
        }
        .icon-text {
            font-size: 0.75rem;
            letter-spacing: 0;
        }
    }
}

.intro-care {
    font-size: 0.81rem;
    letter-spacing: 0.04rem;
    color: $color-dark--2;
    text-align: center;
}
@include rwd(#{$ipad - 1px}){
    .intro-care {
        font-size: 0.63rem;
        letter-spacing: 0.03rem;
        line-height: 1.5;
        text-align: justify;
    }
}

/*block: power-plant ----*/
.power-plant {
    color: $color-dark;
    text-align: center;
    margin-top: 6rem;
    &--title {
        font-size: 2.5rem;
        letter-spacing: 0.63rem;
    }
    &--subtitle {
        font-size: 1.75rem;
        letter-spacing: 0.15rem;    
        margin-top: 2.5rem;
        padding-bottom: 1rem;
        margin-bottom: 3.75rem;
        border-bottom: 1px solid $color-secondary;
    }
}
.powerpoint {
    margin-bottom: 5.19rem;
    &--title {
        font-size: 1.25rem;
        letter-spacing: 0.1rem;
        line-height: 1.75rem;
        margin-top: 1.44rem;
        margin-bottom: 0.94rem;
        text-align: center;
        color: $color-dark--2;
        font-weight: 50;
    }
    &--desc {
        line-height: 1.38rem;
        letter-spacing: 0.08rem;
        text-align: justify;
    }
}
@include rwd(#{$ipad - 1px}){
    .power-plant {
        margin-top: 4rem;
        &--title {
            font-size: 1.06rem;
            letter-spacing: 0;
        }

        &--subtitle {
            font-size: 1rem;
            letter-spacing: 0.08rem;
            padding-bottom: 1rem;
            margin-bottom: 1.75rem;
            margin-top: .88rem;
        }
    }
    .powerpoint {
        margin-bottom: 0;
        >div{
            margin-bottom: 3.13rem;
        }
        &--title {
            font-size: 0.94rem;
            letter-spacing: 0.06rem;
            line-height: 1.31rem;
            margin-top: 0.69rem;
            margin-bottom: 0.31rem;
        }
        &--desc {
            font-size: 0.88rem;
            letter-spacing: 0.07rem;
            line-height: 1.25rem;
        }
    }
}