@charset "UTF-8";
/* @site: 全民電廠
 * @author: nikki
 * @update: nikki (2018-12-5)
 * @page: index
 * @description: 
 */
/* =Variables--------------------------*/
/* font style ---*/
/* desktop & mobile size */
/* color */
/*animation */
/*z-index */
/* z-index順序 */
/* contactBtn => meun mobile => signup/login */
/*為手譏評板裝置，且裝置奘為橫向*/
/*若只判斷orientation:landscape，desktop size也包含在內*/
/* common */
.section-title {
  font-size: 2.5rem;
  text-align: center;
  letter-spacing: 0.19rem; }

@media only screen and (max-width: 768px) {
  .section-title {
    font-size: 1.13rem;
    letter-spacing: 0.06rem; }
  .index-btn {
    width: 7.56rem;
    margin: 0 auto; } }

.index-section--kv {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent; }

.index-section--kv {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center; }

.index-container {
  overflow: hidden;
  position: relative;
  /*z-index: 1;*/ }

/* block: p1/kv ==================*/
.index-section--kv {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  /*background-color: $color-dark;*/
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 20; }
  .index-section--kv .addbg {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-image: url("../../images/index_bigimages0905.jpg?v=1");
    position: absolute;
    left: 0;
    top: 0; }

.kv-title {
  font-size: 3.13rem;
  color: #ffffff;
  letter-spacing: 0.06rem;
  text-align: center;
  font-weight: bold;
  text-shadow: 0 6px 15px rgba(0, 0, 0, 0.07);
  margin-bottom: 1.06rem;
  margin-top: 1.63rem; }
  .kv-title-eng {
    height: 3.06rem; }

.kv-text {
  width: 35.5rem;
  font-size: 1.44rem;
  letter-spacing: 0.03rem;
  color: #ffffff;
  text-align: center;
  line-height: 1.2;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.63);
  margin-bottom: 2.13rem;
  position: relative; }
  .kv-text:after, .kv-text:before {
    content: '';
    position: absolute;
    top: 0;
    width: 2px;
    height: 100%;
    background-color: #fff; }
  .kv-text:before {
    left: -10px; }
  .kv-text:after {
    right: -10px; }

.kv-arrow {
  position: absolute;
  bottom: 5%;
  left: calc(50% - 76px/2); }

.kv-btn-signup {
  width: 22.81rem;
  height: 7.63rem;
  background-image: url("../../images/index-p1-btnn.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  margin: 0 auto;
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  cursor: pointer;
  /*&:hover {
			background-image: url('../../images/index-p1-btn_hover.svg');
		}*/ }

/* rwd: p1 ---*/
@media only screen and (max-width: 1024px) {
  .index-section--kv {
    padding: 0 5%;
    background-image: url("../../images/index_image01-kv.jpg"); }
  .page-title-eng {
    width: 90%;
    height: auto; }
    .page-title-eng > img {
      margin: 0 auto; }
  .kv-title {
    width: 13rem;
    font-size: 1.94rem;
    letter-spacing: 0.12rem;
    line-height: 2.31rem;
    margin-top: 0.3rem;
    margin-bottom: 0.94rem; }
  .kv-text {
    width: 14rem;
    font-size: 0.81rem;
    line-height: 1.38rem;
    margin-bottom: 3rem; }
    .kv-text:before, .kv-text:after {
      display: none; }
  .kv-btn-signup {
    width: 14rem;
    height: 4.5rem; } }

/* block: banner ================*/
.index-section--banner {
  width: 100%;
  height: 25rem;
  margin-top: 17px;
  padding-bottom: 5%;
  background-color: #fff; }

.banner-slider {
  height: 400px; }
  .banner-slider-item {
    width: 100%;
    height: 400px; }

.slick-dots {
  bottom: 4%; }
  .slick-dots li {
    margin: 0 5px; }
    .slick-dots li button:before {
      content: '';
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      background-color: transparent;
      border: 1px solid #A0A0A0;
      opacity: 1; }
    .slick-dots li.slick-active button:before {
      opacity: 1;
      background-color: #A0A0A0; }

.slick-prev, .slick-next {
  width: 3.13rem;
  height: 6.25rem;
  background-color: rgba(0, 0, 0, 0.23);
  opacity: 1;
  z-index: 5; }
  .slick-prev:before, .slick-next:before {
    content: '';
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    left: 5%;
    top: 30%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url("../../images/icon_arrow_down_white.svg"); }

.slick-prev {
  left: 0; }
  .slick-prev:before {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg); }

.slick-next {
  right: 0; }
  .slick-next:before {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg); }

/* action: slick-prev, slick-next ----*/
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
  background-color: rgba(0, 0, 0, 0.23); }

/* rwd: slick ---*/
@media only screen and (max-width: 768px) {
  .index-section--banner {
    height: 240px; }
  .banner-slider {
    height: 240px; }
    .banner-slider-item {
      height: 240px; }
  .slick-dots {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8); }
  /*.slick-prev, .slick-next {
		display: none !important;
	}*/ }

/* block: p2 ================== */
.index-section--p2 {
  width: 100%;
  height: 31.88rem;
  background-color: #fff;
  margin: 0 auto; }
  .index-section--p2 .p2-inner {
    /*width: 1150px;*/
    margin: 0 auto;
    position: relative; }
  .index-section--p2 .p2-img {
    position: absolute;
    right: 0;
    top: 0; }

.p2-block {
  width: 30rem;
  position: absolute;
  left: calc(50vw - 31rem);
  top: 3.5rem; }
  .p2-block-title {
    font-size: 2.25rem;
    letter-spacing: 0;
    text-align: left;
    margin-bottom: 0.69rem;
    margin-top: 2.06rem; }
  .p2-block-text {
    width: 78%;
    line-height: 1.56rem;
    color: #6F6F6F;
    margin-bottom: 3rem; }

/* rwd: p2 ---*/
@media only screen and (max-width: 1300px) {
  .index-section--p2 .p2-img {
    width: 460px; } }

@media only screen and (max-width: 1024px) {
  .index-section--p2 .p2-inner {
    width: 85%; }
  .index-section--p2 .p2-img {
    width: 300px;
    top: 50px;
    right: 0; } }

@media only screen and (max-width: 768px) {
  .index-section--p2 {
    width: 100%;
    height: auto;
    padding-top: 2.13rem;
    padding-bottom: 5%; }
    .index-section--p2 .p2-inner {
      width: 85%; }
    .index-section--p2 .p2-img {
      position: static;
      width: 16.38rem;
      height: auto;
      margin: 5% auto; }
  .p2-block {
    width: auto;
    position: static; }
    .p2-block-title {
      font-size: 1.25rem;
      text-align: center;
      font-weight: bold;
      margin-top: 0.5rem; }
      .p2-block-title-eng {
        margin: 0 auto; }
    .p2-block-text {
      width: 95%;
      font-size: 0.81rem;
      line-height: 1.25rem;
      margin: 0 auto 1.63rem; } }

/* block: p3 ================== */
.index-section--p3 {
  background-image: url("../../images/about_bgimage02.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-color: #fff;
  padding: 3.69rem 0 3.25rem; }

.p3-block {
  text-align: center;
  margin-bottom: 2.38rem; }
  .p3-block-title {
    margin-top: 1.63rem; }
    .p3-block-title-eng {
      margin: 0 auto; }
  .p3-block-text {
    font-size: 1.44rem;
    line-height: 1.94rem;
    letter-spacing: 0.06rem;
    font-weight: bold;
    margin-top: 1rem; }
    .p3-block-text > span {
      font-size: 1.25rem; }

.feature {
  width: 1100px;
  margin: 0 auto 0.94rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center; }
  .feature-item {
    width: 22%;
    background-color: gray;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 0.405rem;
    padding-bottom: 2rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
    align-items: flex-end; }
    .feature-item-text {
      width: 80%;
      text-align: center;
      color: #ffffff;
      letter-spacing: 0.06rem;
      line-height: 1.38rem; }
    .feature-item:nth-child(1) {
      height: 22rem;
      background-image: url("../../images/index_image03.jpg"); }
    .feature-item:nth-child(2) {
      height: 17.63rem;
      background-image: url("../../images/index_image04.jpg"); }
    .feature-item:nth-child(3) {
      height: 13.5rem;
      background-image: url("../../images/index_image05.jpg"); }
    .feature-item:nth-child(4) {
      height: 19.63rem;
      background-image: url("../../images/index_image06.jpg"); }

/* rwd: p3 ---*/
@media only screen and (max-width: 768px) {
  .p3-block {
    margin-bottom: 1.2rem; }
    .p3-block-title {
      font-size: 1.25rem;
      margin-top: 0.5rem; }
      .p3-block-title-eng {
        width: 6.31rem;
        margin: 0 auto; }
    .p3-block-text {
      font-size: 1.15rem;
      line-height: 1.55rem;
      letter-spacing: 0.05rem;
      margin-top: 0.56rem; }
      .p3-block-text > span {
        font-size: 0.8em; }
  .feature {
    width: auto;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .feature-item {
      width: 45%;
      padding-bottom: 0.81rem;
      margin: 0 0.125rem; }
      .feature-item-text {
        font-size: 0.81rem;
        letter-spacing: 0; }
      .feature-item:nth-child(1) {
        height: 13.19rem; }
        .feature-item:nth-child(1) > .feature-item-text {
          width: 5.69rem; }
      .feature-item:nth-child(2) {
        height: 10.56rem; }
        .feature-item:nth-child(2) > .feature-item-text {
          width: 8.13rem; }
      .feature-item:nth-child(3) {
        height: 8.13rem;
        margin-top: 0.5rem; }
        .feature-item:nth-child(3) > .feature-item-text {
          width: 100%; }
      .feature-item:nth-child(4) {
        height: 10.88rem;
        margin-top: -37px; }
        .feature-item:nth-child(4) > .feature-item-text {
          width: 5.69rem; } }

/* block: p4 ================== */
.index-section--p4 {
  background-color: #fff;
  padding: 4.81rem 0 6.5rem; }
  .index-section--p4 .p4-block-title {
    margin-top: 1.63rem; }
  .index-section--p4 .p4-block-img {
    margin-bottom: 40px;
    margin-top: 67px; }

/* rwd: p4 ---*/
@media only screen and (max-width: 768px) {
  .index-section--p4 {
    padding: 0 5%; }
    .index-section--p4 .p4-block-title {
      font-size: 1.25rem;
      letter-spacing: 0.07rem;
      line-height: 1;
      margin-top: 0.5rem; }
    .index-section--p4 .p4-block-img {
      margin: 0; } }

/* block: p5/join ================== */
#joinSlider {
  width: 100%;
  max-width: 1200px; }

.index-section--join {
  width: 100%;
  background-color: #fff;
  margin: 0 auto;
  padding: 5rem 5%; }

.join-notice {
  width: 100%;
  height: 4.06rem;
  background-color: #1C8886;
  margin: 3.13rem 0 2.5em; }
  .join-notice-content {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center; }
    .join-notice-content > span {
      font-size: 1.25rem;
      letter-spacing: 0.03rem;
      font-weight: bold;
      color: #ffffff;
      margin: 0 20px; }
  .join-notice .btn--check {
    width: 7.5rem;
    height: 2.13rem;
    line-height: 2.13rem;
    text-align: center;
    letter-spacing: 0.03rem;
    color: #1C8886;
    background-color: #fff;
    cursor: pointer; }

.join-solar .slick-prev {
  left: -5%; }

.join-solar .slick-next {
  right: -5%; }

/* rwd: .index-section--join ---*/
@media only screen and (max-width: 768px) {
  .join-notice {
    margin: 1.56rem auto 0; }
    .join-notice-content > span {
      font-size: 1rem;
      letter-spacing: 0.03rem;
      margin: 0 10px; }
    .join-notice .btn--check {
      width: 4.13rem; } }

/* block: p6/news ================== */
.index-section--news {
  width: 100%;
  background-color: #fff;
  margin: 0 auto;
  padding-bottom: 5%; }

.section--news-img {
  margin: 2.44rem auto 2.19rem; }

.logo-container--index {
  margin: 2.44rem auto 2.19rem; }

.news-container {
  width: 100%;
  max-width: 950px;
  margin: 0 auto;
  padding-bottom: .69rem; }
  .news-container .news-img {
    width: 100%;
    max-width: 22.75rem;
    height: 17rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #6F6F6F;
    margin-right: 1.69rem; }
  .news-container .news-content {
    position: relative;
    width: 100%;
    max-width: 35rem;
    color: #6F6F6F;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center; }
    .news-container .news-content--title {
      font-size: 1.5rem;
      line-height: 2.06rem;
      font-weight: bold;
      margin-bottom: 0.75rem;
      display: block;
      display: -webkit-box;
      word-break: break-word;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      max-height: 4.12rem;
      max-width: initial; }
    .news-container .news-content--text {
      font-size: 0.88rem;
      line-height: 1.25rem;
      /*text-align: justify;*/
      display: block;
      display: -webkit-box;
      word-break: break-word;
      text-overflow: ellipsis;
      -webkit-line-clamp: 7;
      -webkit-box-orient: vertical;
      overflow: hidden;
      max-height: 8.75rem;
      max-width: initial; }
    .news-container .news-content--link {
      margin-top: 1rem;
      -webkit-align-self: flex-end;
      -moz-align-self: flex-end;
      -ms-flex-item-align: end;
      align-self: flex-end; }

/* rwd: .news-container .news-img*/
@media only screen and (max-width: 768px) {
  .news-container {
    width: 90%;
    margin: 0 auto; }
    .news-container .news-img {
      height: 14rem;
      margin: 0 auto; }
    .news-container .news-content--title {
      font-size: 1.06rem;
      line-height: 1.5rem;
      display: block;
      display: -webkit-box;
      word-break: break-word;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      max-height: 3rem;
      max-width: initial; }
    .news-container .news-content--text {
      font-size: 0.81rem;
      line-height: 1.38rem;
      display: block;
      display: -webkit-box;
      word-break: break-word;
      text-overflow: ellipsis;
      -webkit-line-clamp: 6;
      -webkit-box-orient: vertical;
      overflow: hidden;
      max-height: 8.28rem;
      max-width: initial; } }

/* status: ART_TYPE=1:圖片+文章,2:影片+文章,3:純文章 ---*/
.news--type1,
.news--type2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  align-items: flex-start; }

.news--type2 .news-img {
  position: relative; }
  .news--type2 .news-img:after {
    content: '';
    width: 100%;
    height: 100%;
    background-image: url("../../images/icon-youtube.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: absolute;
    left: 0;
    top: 0; }

.news--type3 .news-content {
  max-width: none; }

/* rwd: .news--type1 ---*/
@media only screen and (max-width: 768px) {
  .news--type1,
  .news--type2 {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; } }

@media only screen and (max-width: 767px) {
  .section-calc {
    width: 90%;
    margin: 0 auto; } }

/* block: calculate ---*/
.calculate {
  width: 80%;
  color: #303030;
  border-top: 0.44rem solid #D4F9F3;
  box-shadow: 0 9px 5px 0 rgba(0, 0, 0, 0.1);
  padding: 1rem 0 4rem;
  margin: 0 auto; }
  .calculate-title {
    font-size: 2.25rem;
    text-align: center;
    line-height: 3.13rem;
    letter-spacing: 0.06rem; }

/* rwd: calculate ---*/
@media only screen and (max-width: 768px) {
  .calculate {
    width: 100%;
    border-top-width: 3px;
    padding-bottom: 1.44rem; }
    .calculate-title {
      font-size: 1.13rem;
      letter-spacing: 0.03rem; } }

/* block: calculate-content ---*/
.calculate-content {
  width: 80%;
  max-width: 36rem;
  margin: 0 auto;
  padding-top: 4.88rem; }
  .calculate-content-info {
    font-size: 0.94rem;
    color: #A0A0A0;
    text-align: right; }
    .calculate-content-info-2 {
      line-height: 1.38rem;
      letter-spacing: 0.03rem;
      color: #6F6F6F;
      text-align: center; }

/* rwd: calculate ---*/
@media only screen and (max-width: 768px) {
  .calculate-content {
    width: 100%;
    padding-top: 5%; }
    .calculate-content-info {
      font-size: 0.63rem;
      line-height: 1rem;
      text-align: left; }
      .calculate-content-info-2 {
        width: 80%;
        font-size: 0.88rem;
        line-height: 1.25rem;
        letter-spacing: 0;
        text-align: center;
        margin: 0 auto; } }

/* item: calculate-item ---*/
.calculate-item {
  height: 2.63rem;
  margin-bottom: 2.5rem; }
  .calculate-item > div {
    line-height: 2.63rem; }
  .calculate-item--title {
    font-size: 1.36rem; }
  .calculate-item--data {
    text-align: center; }
    .calculate-item--data-2 {
      font-size: 1.82rem;
      color: #6F6F6F; }
    .calculate-item--data-3 {
      font-size: 2.13rem;
      color: #1EB5AC; }
  .calculate-item--info {
    font-size: 1.13rem;
    text-align: right; }

.care-info {
  display: none;
  font-size: 0.81rem;
  color: #A0A0A0;
  text-align: center;
  margin-bottom: 1.5rem; }

@media only screen and (max-width: 768px) {
  .calculate-item--care {
    display: none; }
  .care-info {
    display: block; }
  .calculate-item {
    margin-bottom: 1.5rem; }
    .calculate-item > div {
      line-height: 1.8rem; }
    .calculate-item--title {
      font-size: 15px; }
    .calculate-item--data {
      text-align: right; }
      .calculate-item--data-2 {
        font-size: 1.27rem;
        padding-right: 5%; }
      .calculate-item--data-3 {
        font-size: 1.49rem;
        padding-right: 5%; }
    .calculate-item--info {
      font-size: 0.63rem;
      text-align: left; } }

/* item: calc-link ---*/
.calc-link {
  width: 90%;
  max-width: 31rem;
  height: 4.81rem;
  line-height: 4.81rem;
  font-size: 1.88rem;
  margin: 3.88rem auto 1.13rem; }

/* rwd: calc-link ---*/
@media only screen and (max-width: 768px) {
  .calc-link {
    width: 100%;
    height: 2.81rem;
    font-size: 1.13rem;
    line-height: 2.81rem;
    margin: 1.7rem auto; } }

/* item: calc-input ---*/
.calc-input-container {
  position: relative; }
  .calc-input-container:after {
    content: '片';
    position: absolute;
    right: 29%;
    bottom: 10%;
    width: 2rem;
    font-size: 1.16rem; }

.calc-input {
  width: 100%;
  max-width: 14.5rem;
  height: 2.63rem;
  background: #E5F9F6;
  border: 1px solid #D8D8D8;
  box-shadow: inset 0 5px 3px 0 rgba(0, 0, 0, 0.1);
  border-radius: 2.42px;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0.07rem;
  line-height: 2.63rem;
  text-align: center;
  outline: none; }

/*item: calc-input ---*/
@media only screen and (max-width: 768px) {
  .calc-input-container::after {
    right: 0;
    bottom: 0; }
  .calc-input {
    line-height: 1.8rem;
    height: 1.8rem;
    font-size: 1.2em; } }
