@charset "UTF-8";
/* @site: 全民電廠
 * @author: nikki
 * @update: nikki (2019-1-25)
 * @page: 會員專區-電廠總覽
 * @description: 
 */
/* =Variables--------------------------*/
/* font style ---*/
/* desktop & mobile size */
/* color */
/*animation */
/*z-index */
/* z-index順序 */
/* contactBtn => meun mobile => signup/login */
/*為手譏評板裝置，且裝置奘為橫向*/
/*若只判斷orientation:landscape，desktop size也包含在內*/
.page-container {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(30%, rgba(30, 181, 172, 0)), to(rgba(30, 181, 172, 0.8)));
  background-image: -webkit-linear-gradient(bottom, rgba(30, 181, 172, 0) 30%, rgba(30, 181, 172, 0.8) 100%);
  background-image: -o-linear-gradient(bottom, rgba(30, 181, 172, 0) 30%, rgba(30, 181, 172, 0.8) 100%);
  background-image: linear-gradient(0deg, rgba(30, 181, 172, 0) 30%, rgba(30, 181, 172, 0.8) 100%);
}

.page-kv {
  padding-top: 10rem;
  height: 25rem;
}

.page-kv--title {
  color: #303030;
}

@media only screen and (max-width: 767px) {
  .page-kv {
    height: 15rem;
    padding: 7rem 5% 0;
  }
}

/*item: .solar-page-top ----*/
.solar-page-top {
  width: 95%;
  max-width: 66rem;
  padding-bottom: 11px;
  border-bottom: 2px solid #e9e9e9;
  margin: 0 auto .69rem;
  display: -webkit-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -moz-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  -moz-align-items: flex-end;
  align-items: flex-end;
}

.solar-page-top .download-text img {
  display: inline-block;
}

.solar-page-top .download-text-desktop {
  color: #8a8a8a;
}

.solar-page-top .download-text-mobile {
  display: none;
}

/*rwd: .solar-page-top ---*/
@media only screen and (max-width: 768px) {
  .solar-page-top .download-text-desktop {
    display: none;
  }
  .solar-page-top .download-text-mobile {
    display: block;
  }
}

/*status: 尚無電廠專案  */
.solar--nosolar {
  width: 90%;
  max-width: 300px;
  margin-top: 53px;
}

.solar--nosolar-text {
  color: #6f6f6f;
  letter-spacing: 0.1px;
  text-align: center;
  line-height: 28px;
  font-weight: bold;
  margin-top: 28px;
}

.solar--nosolar-text img {
  display: inline-block;
  margin-right: 8px;
}

@media only screen and (max-width: 768px) {
  .solar--nosolar .img {
    width: 190px;
  }
  .solar--nosolar-text {
    font-size: 14px;
  }
}

/*item: solar ----*/
.solar {
  width: 100%;
  max-width: 66rem;
  border-top: 3px solid #E9E9E9;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(242, 242, 242, 0.99)), color-stop(41%, rgba(243, 243, 243, 0.99)), color-stop(85%, #FFFFFF));
  background-image: -webkit-linear-gradient(top, rgba(242, 242, 242, 0.99) 0%, rgba(243, 243, 243, 0.99) 41%, #FFFFFF 85%);
  background-image: -o-linear-gradient(top, rgba(242, 242, 242, 0.99) 0%, rgba(243, 243, 243, 0.99) 41%, #FFFFFF 85%);
  background-image: linear-gradient(-180deg, rgba(242, 242, 242, 0.99) 0%, rgba(243, 243, 243, 0.99) 41%, #FFFFFF 85%);
  margin: 0 auto 2.69rem;
  padding: 1rem .69rem;
  position: relative;
  display: -webkit-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

.solar:after {
  content: '';
  width: 100%;
  height: 1px;
  background-color: #e3e3e3;
  position: absolute;
  bottom: -2.69rem;
  left: 0;
}

.solar-title {
  font-size: 1.75rem;
  color: #1EB5AC;
  font-weight: bold;
  position: absolute;
  left: 17rem;
  top: 10%;
}

.solar-pic {
  width: 15rem;
  height: 12rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.solar-content {
  width: calc(100% - 15rem);
  padding: 0 0.88rem;
  display: -webkit-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

/*rwd: .solar -----*/
@media only screen and (max-width: 768px) {
  .solar {
    padding-top: 2.5rem;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .solar-title {
    font-size: 1.38rem;
    top: 6px;
    left: 5%;
  }
  .solar-pic {
    width: 100%;
    height: 9rem;
  }
  .solar-content {
    width: 100%;
    padding: 0;
  }
}

/*item: .solar-header ----*/
.solar-header {
  margin: 0.75rem 0;
  display: -webkit-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -moz-justify-content: flex-end;
  justify-content: flex-end;
}

.solar-header-item {
  color: #A0A0A0;
  line-height: 2;
}

.solar-header-item > span {
  font-size: 1.2em;
  color: #1C8886;
  font-weight: bold;
  margin-left: 0.75rem;
}

.solar-header-item:last-child {
  margin-left: 5%;
}

/*rwd: .solar-header -----*/
@media only screen and (max-width: 768px) {
  .solar-header {
    font-size: 0.81rem;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .solar-header:last-child {
    margin-left: 0;
  }
}

/*item: .solar-body ----*/
.solar-body {
  display: -webkit-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -moz-justify-content: space-between;
  justify-content: space-between;
}

/*rwd: .solar-body ----*/
@media only screen and (max-width: 768px) {
  .solar-body {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

/*item: .solar-body-item ---*/
.solar-body-item {
  width: 49%;
  height: 6.56rem;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  display: -webkit-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -moz-align-items: center;
  align-items: center;
}

.solar-body-item:before {
  content: '';
  width: 23px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: absolute;
  left: 18%;
  top: calc(50% - 25px);
}

.solar-body-item.power:before {
  background-image: url(../../images/Member_center_power_plant_icon01.svg);
}

.solar-body-item.money:before {
  background-image: url(../../images/Member_center_power_plant_icon02.svg);
}

.solar-body-item:after {
  content: '';
  width: 23px;
  height: 50px;
  background-image: url(../../images/icon_arrow_right_blue.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: absolute;
  right: 3%;
  top: calc(50% - 25px);
}

.content-title {
  color: #303030;
}

.content-title > span {
  font-size: 1.5em;
  color: #1C8886;
  font-weight: bold;
  margin-left: 0.81rem;
  position: relative;
}

.content-title > span:after {
  font-size: 0.7em;
  color: #6F6F6F;
  position: absolute;
  right: -1.5rem;
  bottom: 0;
}

.content-title > span.power:after {
  content: '度';
}

.content-title > span.money:after {
  content: '元';
}

.content-text {
  font-size: 0.94rem;
  color: #8a8a8a;
}

.content-text > span {
  font-size: 1.2em;
  font-weight: bold;
  margin-left: 0.31rem;
}

/*rwd: .solar-body-item ----*/
@media only screen and (max-width: 768px) {
  .solar-body-item {
    width: 100%;
  }
  .solar-body-item:before {
    left: 12%;
  }
}

/*item: .solar-body-item ---*/
/*item: .solar-body-item--end(追加:募資完成狀態) ---*/
.solar-body-item--end {
  width: 49%;
  height: 6.56rem;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  display: -webkit-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -moz-align-items: center;
  align-items: center;
}

.solar-body-item--end:before {
  content: '';
  width: 23px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: absolute;
  left: 18%;
  top: calc(50% - 25px);
}

.solar-body-item--end:after {
  content: '';
  width: 23px;
  height: 50px;
  background-image: url(../../images/icon_arrow_right_blue.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: absolute;
  right: 3%;
  top: calc(50% - 25px);
}

.solar-body-item--end .end-text {
  color: #1EB5AC;
  text-align: center;
  font-weight: bold;
  font-size: 1.13rem;
}

.solar-body-item--end .end-text span {
  font-size: 0.8em;
}

/*rwd: .solar-body-item--end ----*/
@media only screen and (max-width: 768px) {
  .solar-body-item--end {
    width: 100%;
  }
}

/*item: .solar-body-item--end(追加:募資完成狀態) ---*/
/*item: .solar-footer ---*/
.solar-footer {
  display: -webkit-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -moz-justify-content: flex-end;
  justify-content: flex-end;
}

.solar-footer-item {
  font-size: 0.88rem;
  color: #8a8a8a;
  margin: 0 3%;
}

/*rwd: .solar-footer ----*/
@media only screen and (max-width: 768px) {
  .solar-footer {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .solar-footer-item {
    font-size: 0.7rem;
    margin: 0;
  }
}

.btn-sell {
  width: 7rem;
  margin-left: 1.5rem;
  font-size: 1.125rem;
  background-color: #1EB5AC;
}

.btn-sell-m {
  display: none !important;
}

@media only screen and (max-width: 768px) {
  .btn-sell {
    display: none !important;
  }
  .btn-sell-m {
    display: block !important;
    position: absolute;
    top: 0.375rem;
    right: 3%;
    width: 7rem;
    height: 1.88rem;
    line-height: 1.88rem;
    font-size: 1.125rem;
    background-color: #1EB5AC;
  }
}
