<p class="text-center">太陽能模組買賣合約書</p>
<br />
<p class="text-center">甲方： 太陽能系統工程服務商 （以下簡稱「甲方」）</p>
<p class="text-center">乙方： 購買會員 （以下簡稱「乙方」）</p>
<br />
茲因乙方擬向甲方採購太陽能發電模組、從物及其附隨權利(包含且不限於甲方與台灣電力股份有限公司公司(下稱台電公司)所簽訂之第三型太陽光電發電系統電能購售契約(下稱購售電合約)、租約權益及設備原廠維修保固合約之權利等)。乙方於本合約條款逐條審視完畢確認後，同意由中租雲端服務股份有限公司(下稱中租雲端公司)為乙方簽約代理人，甲、乙雙方合意就此訂定條款如下，以資共同遵循：<br />
<br />
第 一 條 買賣標的<br />
太陽能發電模組、從物(如逆變器、變壓器等)(如【專案內容】所示)。<br />
甲方應轉讓主管機關設備登記權利義務予乙方並由乙方指定之第三人代為管理(如有)。<br />
甲方應轉讓就本設備與台電公司所簽訂【購售電合約】與【電表租賃合約】之權利義務(合約詳如【專案內容】所示)予乙方並由乙方指定之第三人代為管理。<br />
甲方應轉讓本設備現行設置地點與該土地或建築物所有權人所簽訂之【房地租賃合約】之權利義務予乙方並由指定之第三人代為管理(設置地點詳如【專案內容】表列所示)。<br />
<br />
第 二 條 買賣價款<br />
太陽能光電發電模組、從物及附隨權利，每片太陽能光電發電模組售價與總價詳如【專案內容】所示。<br />
<br />
<br />
第 三 條 買賣價金之給付<br />
甲方就本合約第一條所示之買賣標的，經乙方指定之第三人確認太陽能發電模組及從物等相關設備驗收完畢、【設備登記】、【購售電合約】、【電表租賃合約】、【房地租賃合約】等權利義務移轉予乙方並由乙方指定之第三人代為管理後，甲方應檢附相關憑證及必要文件，由乙方指示中租雲端股份有限公司將款項匯付予甲方指定帳戶。<br />
<br />
<br />
第 四 條 甲、乙雙方權利義務約定移轉<br />
甲、乙雙方約定本合約簽訂日為生效日(即約定移轉日)，自約定移轉日起，太陽能發電模組、從物及附隨權利(【購售電合約】、【租賃合約】、設備原廠維修保固合約)之權利義務已完成移轉，其所有權及危險負擔亦同時移轉，此日期前之相關權利義務仍歸屬於甲方，此日期之翌日起，就所太陽能發電模組、從物及附隨權利衍生之利益及合約之權利義務則改由乙方繼受。<br />
承前項，本合約第一條所示之買賣標的於移轉日後且尚未完成主管機關過戶程序前所產生之發電收益及費用，甲、乙雙方約定由甲方以代收代付方式，於每期先代為收取台電公司所撥付之款項後，再將款項於收取後七個工作日(下同)內匯還予乙方指定之中租雲端公司帳戶，直至台電公司同意甲方變更乙方指定之第三人成為前述【購售電合約】之權利人。<br />
本合約完成簽署後，甲方須立即協助乙方辦理本合約第一條所示之買賣標的權利義務之移轉，包含但不限於備齊相關設備移轉文件及協同乙方指定之第三人至主管機關申請變更乙方指定第三人為設備登記名義人及後續向台電公司辦理購售電合約換約等相關事宜。另就租賃合約及原廠維修保固合約部分，甲方亦應協助乙方完成合約權利義務移轉事宜。<br />
<br />
第 五 條 甲方聲明及承諾事項<br />
甲方聲明對出售與乙方之設備有完整之處分權，無任何設定動產抵押或遭第三人主張權利或與土地或建築物所有權人有租約糾紛之情形。<br />
甲方聲明簽署本合約前，甲方就本交易已依內部相關程序取得所有必要之核准、許可及同意。<br />
甲方取得之設備登記(如有)、甲方與台電公司簽署購售電契約及甲方出租人簽訂租賃及相關附隨合約等，於本合約簽署時均係為有效且真實存在。<br />
甲方應協助乙方完成欲出售之太陽能光電發電模組、從物及相關合約<br />
完成點交予乙方指定之第三人(包括但不限於台電公司購售合約及核准函等正本資料)。<br />
<br />
第 六 條 保固、瑕疵擔保責任及保證發電收益<br />
甲方保證乙方所取得之太陽能光電發電模組（包含且不限於規格、性能、機能式樣、設計、交貨條件或其他約定事項）完全符合能源局要求及售電予台電公司之使用目的。<br />
甲方同意就乙方自本合約所取得之太陽能光電發電模組，提供首年效能績效保證，保證首年「每日平均發電度數(kWh/kWp-天)」之效能詳如【專案內容】所示。<br />
<br />
第 七 條 違約處理<br />
任一方如有違約，經他方定期催告仍無改善者，他方得解除或終止本合約並請求損害賠償（包括但不限於訴訟費及律師費等）。任一方如有可歸責之事由，違反本合約之相關條款(包括但不限於聲明及特別承諾事項等)，應賠償他方因此所受之損害及相關費用。<br />
<br />
<br />
第 八 條 風險告知<br />
乙方知悉且確認甲方僅就善良管理人注意義務執行本合約事項。如有不可歸責甲方之事由，致使台電公司終止電能購售合約或經保險公司評估達不能修復或修復所費過鉅或無法完成第一條所示之買賣標的之移轉(如【設備登記】、【購售電合約】、【電表租賃合約】、【房地租賃合約】等權利義務移轉予乙方並由乙方指定之第三人代為管理)，致使無法達到乙方預計之發電收益時，乙方將無法獲取預期之投資收益或須自行承擔太陽能光電發電模組及從物等毀損滅失之風險。乙方應充分評估後再與甲方辦理簽約程序。<br />
<br />
<br />
第 九 條 本合約之繼承及轉讓<br />
非經甲、乙雙方全體書面同意，任一方不得將本合約權利或義務轉讓予第三人。<br />
<br />
<br />
第 十 條 乙方本合約權利行使方式<br />
乙方全體對於甲方所成立之所有債權為民法第283條之連帶債權，就本合約約定乙方權利之行使應由全體乙方對甲方行之。<br />
<br />
<br />
第 十一 條 附件效力<br />
中租雲端公司於網站所揭示之【專案內容】視為本合約之附件，與本合約有同等效力。<br />
<br />
<br />
第 十二 條 準據法及管轄<br />
本合約及附件未盡事宜，悉依中華民國民法及相關法律處理之。因本合約所生之任何爭議或訴訟，雙方合意以台灣士林地方法院為第一審管轄法院。<br />
<br />
<br />
第 十三 條 合約份數<br />
本合約正本壹式貳份，甲、乙雙方各執壹份為憑。<br />
<br />
立合約書人<br />
<br />
甲方：太陽能系統工程服務商(詳【專案內容】)<br />
負責人：詳【專案內容】<br />
統一編號：詳【專案內容】<br />
地址：詳【專案內容】<br />
<br />
乙方：購買會員(詳會員註冊資料)<br />
簽約代理人：中租雲端服務股份有限公司<br />
統一編號：54161328<br />
地址：臺北市內湖區瑞光路362號8樓<br />
