@charset "UTF-8";
/* @site: 全民電廠
 * @author: nikki
 * @update: nikki (2018-12-28)
 * @page: 出租屋頂獲利
 * @description: 與我要留言頁面90%類似
 */
/* =Variables--------------------------*/
/* font style ---*/
/* desktop & mobile size */
/* color */
/*animation */
/*z-index */
/*為手譏評板裝置，且裝置奘為橫向*/
/*若只判斷orientation:landscape，desktop size也包含在內*/
/* common: page-container -------*/
/* common: extend ---*/
.page-kv {
  background-image: url("../../images/rent_bigimage.jpg"); }

@media only screen and (max-width: 768px) {
  .page-content {
    padding-bottom: 7rem; }
  .page-kv--img {
    width: 35vw;
    max-width: 259px; } }

/* common: page-content -----*/
.page-content {
  margin-top: -6rem;
  padding-bottom: 8rem; }
  .page-content-form {
    width: 90%;
    max-width: 38rem;
    margin: 0 auto;
    padding-top: 2.5rem; }
    .page-content-form--title {
      font-size: 1.25rem;
      line-height: 1.75rem;
      letter-spacing: 0.08rem;
      color: #303030;
      text-align: center;
      margin-bottom: 1.56rem; }
    .page-content-form .form-step-container {
      margin: 0 auto 3.25rem; }
    .page-content-form .btn--form-send {
      width: 100%;
      max-width: 18.75rem;
      margin-top: 5%; }

/* rwd: page-content ---*/
@media only screen and (max-width: 768px) {
  .page-content {
    margin-top: -2rem; } }

/* item: comments-info ---*/
.comments-info {
  line-height: 1.69rem;
  color: #6F6F6F;
  letter-spacing: 0.06rem;
  text-align: center;
  margin-top: 2rem; }

/* rwd: page-content ---*/
@media only screen and (max-width: 768px) {
  .comments-info {
    font-size: 0.88rem;
    line-height: 1.69rem;
    letter-spacing: 0.05rem; } }

.memner-law-text {
  font-size: 0.88rem;
  line-height: 1.25rem;
  text-align: center; }
