/* @site: 全民電廠
 * @author: mickey
 * @update: miceky (2019-11-22)
 * @page: 會員中心 - 我的電廠 - 確認出售價格
 * @description: 
 */

@import "../../setting/_variables.scss";
@import "../../setting/_mixins.scss";

.solar-item-header{
    height: 7rem;
    background-size: 146%;
    padding: 0 4% 2%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}
.solar-item-header--status{
    margin-bottom: -1rem;
}
.solar-item-header--box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.solar-item-header--inline{
    display: flex;
    align-items: flex-end;
    height: 100%;
    color: #ffffff;
}
@include rwd(1280px){
    .solar-item-header{
        background-size: 165%;
    }
}
@include rwd($ipad-pro){
    .solar-item-header{
        background-size: 148%;
        height: 6rem;
    }
}

.solar-row{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    &--label{
        width: 130px;
        flex: 0 0 auto;
        &-s{
            font-size: rem(14px);
        }
    }
    &--year{
        span{
            font-size: rem(25px);
            font-weight: 700;
        }
    }
    &--price{
        span{
            font-size: rem(32px);
            font-weight: 700;
        }
    }
}
@include rwd($mobile-size){
    .solar-item .solar-item-body--content{
        padding: 0.75rem 1.19rem 4.13rem;
        height: 16rem;
    }
    .solar-row{ 
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0.5rem;
    }
}

// btn
.project-item-btn{
    color: #2A9992;
    font-weight: 600;
    background-color: #ffffff;
    &:hover{
        color: #ffffff;
        &:before{
            background-color: #1C8886;
        }
    }
    &:before{
        background-color: #1C8886;
    }
}

