@charset "UTF-8";
/* @site: 全民電廠
 * @author: mickey
 * @update: miceky (2019-11-22)
 * @page: 會員中心 - 我的電廠 - 確認出售價格
 * @description: 
 */
/* =Variables--------------------------*/
/* font style ---*/
/* desktop & mobile size */
/* color */
/*animation */
/*z-index */
/* z-index順序 */
/* contactBtn => meun mobile => signup/login */
/*為手譏評板裝置，且裝置奘為橫向*/
/*若只判斷orientation:landscape，desktop size也包含在內*/
.project-info {
  min-height: auto;
  padding: 3rem 2.5rem;
  top: 8%;
}

.project-info-item--title-multi {
  line-height: 1.2;
}

.project-buy {
  top: 22.5rem;
}

.project-buy--btn.btn--common-2 {
  background-color: #D3D3D3;
  color: #5a5a5a;
}

.project-buy--btn.btn--common-2:hover, .project-buy--btn.btn--common-2:active, .project-buy--btn.btn--common-2:focus {
  background-color: #A3A3A3;
  color: #ffffff;
}

.project-buy--btn.btn--common-2[disabled] {
  background-color: #A3A3A3;
  color: #ffffff;
  cursor: not-allowed;
}

.project-followed .follow-btn {
  font-size: 1.125rem;
  font-weight: 600;
  color: #1EA098;
  text-align: center;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project-followed .project-buy--btn {
  height: 2.88rem;
  line-height: 2.88rem;
}

.project-unfollowed .project-buy--btn {
  line-height: 1.2;
}

.project-buy--progress {
  margin-right: 1.5rem;
  padding: -3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 5rem;
}

.project-buy--progress p {
  color: #6F6F6F;
}

.project-buy--progress p span {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 0.5rem;
  color: #000000;
}

.num-control {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.num-control-input {
  height: 2.25rem;
  line-height: 2.25rem;
  width: 100%;
  border: 1px solid #E2E2E2;
  border-width: 1px 0;
  text-align: center;
  font-size: 1.25rem;
}

.num-control-input:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0 #ffffff;
          box-shadow: 0 0 0 0 #ffffff;
}

.num-control-btn {
  width: 4rem;
  height: 2.25rem;
  line-height: 2.25rem;
  border: 1px solid #E2E2E2;
  background-color: #e8e8e8;
  cursor: pointer;
}

.num-control-btn:hover {
  background-color: #f5f3f3;
}

.num-control-btn.decrease, .num-control-btn.increase {
  position: relative;
}

.num-control-btn.decrease:before, .num-control-btn.increase:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 0.75rem;
  height: 1px;
  background-color: #636363;
}

.num-control-btn.increase:after {
  content: '';
  width: 1px;
  height: 0.75rem;
  background-color: #636363;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.num-control-btn[disabled] {
  cursor: not-allowed;
}

.num-description {
  color: #6B6B6B;
  max-width: 12rem;
  position: absolute;
  top: 31.5rem;
  left: 3rem;
  text-align: justify;
  background-color: #ffffff;
}

.num-description span {
  color: #1EB5AC;
  font-weight: 700;
}

@media only screen and (max-width: 1366px) {
  .num-description {
    position: relative;
    max-width: unset;
    margin-top: 1.5rem;
    left: 0;
    top: auto;
  }
}

.follow-contact {
  margin: 2rem 0;
}

.follow-contact .block-item {
  border: 0;
  margin: 0;
  padding: 0 .69rem;
}

.follow-contact p {
  color: #5E5E5E;
}

.follow-contact-top, .follow-contact-blue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1rem 0;
}

.follow-contact .alert-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.follow-contact .alert-text p {
  margin-left: 0.5rem;
  font-size: 0.9375rem;
}

.follow-contact-blue {
  background-color: #DCF9F8;
  padding: 1rem 2rem;
  margin: 1rem -2rem;
}

.follow-contact-blue p {
  color: #4A4A4A;
}

.follow-contact-blue-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.follow-contact-blue-item label {
  margin-bottom: 0;
}

@media only screen and (max-width: 768px) {
  .follow-contact-top, .follow-contact-blue, .follow-contact-blue-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .follow-contact-blue {
    padding: 1rem;
    margin: 1rem -1rem;
  }
  .follow-contact-blue span {
    display: block;
  }
  .follow-contact-blue p {
    line-height: 1.8;
  }
}

.view-btn {
  height: 4rem;
  line-height: 4rem;
  font-size: 1.25rem;
  border-radius: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
  padding: 0 1rem;
}

@media only screen and (max-width: 768px) {
  .project-body {
    margin-top: 4rem;
  }
  .view-btn {
    height: 2.81rem;
    line-height: 2.81rem;
    top: -3rem;
  }
}

.modal-col-label {
  width: 11.25rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.modal-col-content {
  font-weight: 700;
  color: #535353;
}

.modal-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33333%;
          flex: 0 0 33.33333%;
  max-width: 33.33333%;
  margin-bottom: 0.5rem;
}

.modal-item-md {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.modal-row,
.modal-row-l {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.table-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1rem 0 0.5rem;
  width: 100%;
}

.tab-content-table .tab-content-title {
  display: none;
}

.tab-content-table th, .tab-content-table td {
  text-align: center;
}

.tab-content-table .th-inner {
  padding: 0 !important;
  line-height: 2.38rem;
  color: #535353;
}

.tab-content-table th {
  background: #E5F9F6;
}

.tab-content-table td {
  font-size: 0.875rem;
  line-height: 1.31rem;
}

.tab-content-table tbody tr:nth-child(even) td {
  background: #E5F9F6;
}

.tab-content-table .total td {
  background: #FFF3B5 !important;
  color: #535353;
  font-weight: 700;
}

.tab-content-table .bootstrap-table {
  margin: 1rem 0;
}

.tab-content-table .clps-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tab-content-table .clps-btn span {
  margin-right: 0.5rem;
}

.tab-content-table .clps-btn[aria-expanded="true"] .clps-close {
  display: block;
}

.tab-content-table .clps-btn[aria-expanded="true"] .clps-open {
  display: none;
}

.tab-content-table .clps-btn[aria-expanded="true"] img {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.tab-content-table .clps-btn[aria-expanded="false"] .clps-close {
  display: none;
}

.tab-content-table .clps-btn[aria-expanded="false"] .clps-open {
  display: block;
}

.tab-content-table .clps-btn[aria-expanded="false"] img {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}

.text-sm {
  font-size: 15px;
  color: #6F6F6F;
  letter-spacing: 0.38px;
  line-height: 30px;
  border-top: 1px solid #D3D3D3;
  padding: 1.75rem 3rem;
  margin: 2rem 0;
}

@media only screen and (max-width: 768px) {
  .tab-content-table .tab-content-title {
    display: block;
  }
  .modal-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .modal-item-md {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .th-inner {
    line-height: unset;
    padding: 0.25rem !important;
  }
  td {
    line-height: unset;
    padding: 0.25rem 0.5rem !important;
  }
  .bootstrap-table {
    margin: 0.5rem 0;
  }
  .text-sm {
    padding: 1rem 0.69rem;
  }
}

@media only screen and (max-width: 768px) {
  .bootstrap-table .fixed-table-container .table {
    overflow: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .bootstrap-table .fixed-table-container .fixed-table-body {
    overflow: hidden;
  }
  .flip-scroll .cf:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  .flip-scroll * html .cf {
    zoom: 1;
  }
  .flip-scroll *:first-child + html .cf {
    zoom: 1;
  }
  .flip-scroll table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
  }
  .flip-scroll th,
  .flip-scroll td {
    margin: 0;
    vertical-align: top;
    white-space: nowrap;
  }
  .flip-scroll table {
    display: block;
    position: relative;
    width: 100%;
  }
  .flip-scroll thead {
    display: block;
    float: left;
  }
  .flip-scroll tbody {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    overflow-x: auto;
  }
  .flip-scroll thead tr {
    display: block;
  }
  .flip-scroll th {
    display: block;
    text-align: left;
    height: 3rem;
  }
  .flip-scroll tbody tr {
    display: inline-block;
    vertical-align: top;
  }
  .flip-scroll td {
    display: block;
    min-height: 1.25em;
    text-align: left;
    height: 3rem;
  }
  .btn-wrap .th-inner {
    height: 1.88rem;
  }
  /* sort out borders */
  .flip-scroll th {
    border-bottom: 0;
    border-left: 0;
  }
  .flip-scroll td {
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
  }
  .flip-scroll {
    margin-top: 0 !important;
  }
}

.modal-subscription .modal-content {
  padding: 3rem 0;
}

.modal-title {
  font-size: 1.375rem;
  color: #8A8A8A;
  text-align: center;
}

.modal-text {
  font-size: 1.125rem;
  color: #303030;
  text-align: justify;
  padding: 2rem;
}

.modal-alert-text {
  font-size: 0.9375rem;
  color: #535353;
  width: 60%;
  margin: 0 auto 1rem;
  text-align: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.modal-alert-text p {
  margin-left: 0.5rem;
}

@media only screen and (max-width: 480px) {
  .modal-alert-text {
    width: 80%;
  }
}

.tab-content-description {
  white-space: pre-line;
}
