@Styles.Render("~/Content/pages/member/transactionDesktop.min.css")

<style type="text/css">
    @@media print {
        .transaction-button--item:nth-child(5),
        .transaction-header--item:nth-child(5) {
            width: 18%;
        }

        .transaction-button--item:nth-child(3),
        .transaction-button--item:nth-child(6),
        .transaction-header--item:nth-child(3),
        .transaction-header--item:nth-child(6) {
            width: 10%;
        }

        .transaction-header--item:nth-child(7),
        .transaction-button--item:nth-child(7) {
            /*width: 13%;*/
            display: none;
        }
    }
</style>

<div class="transaction-container">
    <div class="transaction-header">
        <div class="transaction-header--item">專案名稱</div>
        <div class="transaction-header--item">申購時間</div>
        <div class="transaction-header--item">申購數量</div>
        <div class="transaction-header--item">申購金額</div>
        <div class="transaction-header--item">匯款帳號</div>
        <div class="transaction-header--item">匯款期限</div>
        <div class="transaction-header--item">入帳/取消日期</div>
        <div class="transaction-header--item transaction-header-select">
            <select name="transactionStatus" id="transactionStatus">
                <option value="*" selected="">全案件狀態</option>
                <option value="AT">成功申購</option>
                <option value="C0">取消申請</option>
                <option value="OS">尚未匯款</option>
            </select>
        </div>
    </div>
    <div class="transaction-body">
        @*  TODO:
            以.transaction-collapse-block為一筆電廠資料單位。
            collapse效果相依於ID，collapse1的部分都要替換掉，命名範例EX:collapse1、collapse2...
            *TYPE: 成功申購、取消申請、尚未匯款

            列印功能: 請加ID列印目標在 .transaction-collapse-block(ID)
                與 .js-print-btn (data-order)上面
        *@

        @* TYPE: 尚未匯款,
            CLASS: notfinish *@


        @* TYPE: 成功申購,
            CLASS: success *@


        @* TYPE: 取消申請,
            CLASS: cancle *@

    </div>
</div>


<script type="text/html" id="transactionnotfinish">
    <section id="printPart{{index}}" class="transaction-collapse-block notfinish">
        <a class="transaction-button" data-toggle="collapse" href="#collapse{{index}}" role="button" aria-expanded="false" aria-controls="collapse{{index}}">
            <div class="transaction-button--item">{{CASE_NAME}}</div>
            <div class="transaction-button--item">{{SUBSCRIPTION_DT}}</div>
            <div class="transaction-button--item">{{PANELS_NUM}} 片</div>
            <div class="transaction-button--item">{{SUBSCRIPTION_AMT}} 元</div>
            <div class="transaction-button--item">{{BNK_VR_ACCNTNO}}</div>
            <div class="transaction-button--item">{{PAY_DUE_DT}}</div>
            <div class="transaction-button--item">{{ACPT_DT}}</div>
            <div class="transaction-button--item text-heightline text-bold">尚未匯款</div>
        </a>
        <div class="collapse" id="collapse{{index}}">
            <div class="transaction-content">
                <div class="transaction-content--title">匯款資訊明細</div>
                <div class="transaction-content--container">
                    <div class="col--first">
                        <div class="row no-gutters transaction-data">
                            <div class="col-3 transaction-data--title">訂單編號</div>
                            <div class="col-9 transaction-data--content">{{ORDER_NO}}</div>
                        </div>
                        <div class="row no-gutters transaction-data">
                            <div class="col-3 transaction-data--title">申購時間</div>
                            <div class="col-9 transaction-data--content">{{SUBSCRIPTION_DT}}</div>
                        </div>
                        <div class="row no-gutters transaction-data">
                            <div class="col-3 transaction-data--title">繳款戶名</div>
                            <div class="col-9 transaction-data--content">{{BNK_VR_ACCNTNME}}</div>
                        </div>
                    </div>
                    @if (ViewBag.isMember03)
                    {
                        <div class="col--second">
                            <div class="row no-gutters transaction-data">
                                <div class="col-3 transaction-data--title">繳款銀行</div>
                                <div class="col-9 transaction-data--content text-heightline text-bold">{{BNK_VR_BNKNME}}</div>
                            </div>
                            <div class="row no-gutters transaction-data">
                                <div class="col-3 transaction-data--title">繳款帳號</div>
                                <div class="col-9 transaction-data--content text-heightline text-bold">{{BNK_VR_ACCNTNO}}</div>
                            </div>
                            <div class="row no-gutters transaction-data">
                                <div class="col-3 transaction-data--title">繳款金額</div>
                                <div class="col-9 transaction-data--content text-heightline text-bold">{{SUBSCRIPTION_AMT}} 元</div>
                            </div>
                            <div class="row no-gutters transaction-data">
                                <div class="col-3 transaction-data--title">繳款期限</div>
                                <div class="col-9 transaction-data--content text-heightline text-bold">{{PAY_DUE_DT}}</div>
                            </div>
                        </div>
                    }
                    <div class="col--btn">
                        <button class="transaction-btn transaction-btn--print js-print-btn" data-order="#printPart{{index}}">列印</button>
                        <div class="transaction-btn transaction-btn--cancle" data-toggle="modal" data-target="#modalCancle" data-transaction="{{CASE_NAME}}" data-orderno="{{ORDER_NO}}" data-orderseqid="{{ORDER_SEQ_ID}}" data-id="printPart{{index}}">取消<br>認購</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</script>
<script type="text/html" id="transactionsuccess">
    <section class="transaction-collapse-block success">
        <a class="transaction-button" data-toggle="collapse" href="#collapse{{index}}" role="button" aria-expanded="false" aria-controls="collapse{{index}}">
            <div class="transaction-button--item">{{CASE_NAME}}</div>
            <div class="transaction-button--item">{{SUBSCRIPTION_DT}}</div>
            <div class="transaction-button--item">{{PANELS_NUM}} 片</div>
            <div class="transaction-button--item">{{SUBSCRIPTION_AMT}} 元</div>
            <div class="transaction-button--item">{{BNK_VR_ACCNTNO}}</div>
            <div class="transaction-button--item">{{PAY_DUE_DT}}</div>
            <div class="transaction-button--item">{{ACPT_DT}}</div>
            <div class="transaction-button--item text-blue text-bold">成功申購</div>
        </a>
        <div class="collapse" id="collapse{{index}}">
            <div class="transaction-content">
                <div class="transaction-content--title">匯款資訊明細</div>
                <div class="transaction-content--container">
                    <div class="col--first">
                        <div class="row no-gutters transaction-data">
                            <div class="col-3 transaction-data--title">訂單編號</div>
                            <div class="col-9 transaction-data--content">{{ORDER_NO}}</div>
                        </div>
                        <div class="row no-gutters transaction-data">
                            <div class="col-3 transaction-data--title">購買專案</div>
                            <div class="col-9 transaction-data--content">{{CASE_NAME}}</div>
                        </div>
                        <div class="row no-gutters transaction-data">
                            <div class="col-3 transaction-data--title">購買片數</div>
                            <div class="col-9 transaction-data--content">{{PANELS_NUM}} 片</div>
                        </div>
                    </div>
                    <div class="col--second">
                        <div class="row no-gutters transaction-data">
                            <div class="col-3 transaction-data--title">付款帳號</div>
                            <div class="col-9 transaction-data--content">{{BNK_PAY_ACCNTNO}}</div>
                        </div>
                        <div class="row no-gutters transaction-data">
                            <div class="col-3 transaction-data--title">已付金額</div>
                            <div class="col-9 transaction-data--content">{{PAY_AMT}}</div>
                        </div>
                        <div class="row no-gutters transaction-data">
                            <div class="col-3 transaction-data--title">付款日期</div>
                            <div class="col-9 transaction-data--content">{{PAY_DT}}</div>
                        </div>
                    </div>
                    <div class="col--btn">
                        <a href="@Url.Action("InvestContract","member")/{{DOCUMENT_VERSION}}" target="_blank" class="check-detail-btn">
                            <img src="@Url.Content("~/Content/images/Member_center_transaction_icon.svg")" alt="">
                            <p>購買合約檢視</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</script>
<script type="text/html" id="transactioncancle">
    <section class="transaction-collapse-block cancle">
        <a class="transaction-button">
            <div class="transaction-button--item">{{CASE_NAME}}</div>
            <div class="transaction-button--item">{{SUBSCRIPTION_DT}}</div>
            <div class="transaction-button--item">{{PANELS_NUM}} 片</div>
            <div class="transaction-button--item">{{SUBSCRIPTION_AMT}} 元</div>
            <div class="transaction-button--item">{{BNK_VR_ACCNTNO}}</div>
            <div class="transaction-button--item">{{PAY_DUE_DT}}</div>
            <div class="transaction-button--item">{{ACPT_DT}}</div>
            <div class="transaction-button--item text-bold">取消申請</div>
        </a>
    </section>
</script>
