/* @site: 全民電廠
 * @author: nikki
 * @update: nikki (2019-9-9)
 * @page: 
 * @description: 
 */

@import "../../setting/_variables.scss";
@import "../../setting/_mixins.scss";

$colorMain :#036EB8;
$colorSub: #23AD92;

/* section: p1 ====================================*/
.kv-container {
    width: 100%;
    height: 100vh;
    max-height: 1080px;
    position: relative;
    overflow: hidden;
    background-position: 50% top;
    background-repeat: no-repeat;
    background-size: cover;
}
.kv-btn {
    margin: 0 auto;
    padding: 1.6rem 3rem;
    background-color: $colorMain;
    color: #fff;
    text-align: center;
    font-size: 1.88rem;
    letter-spacing: 0.22rem;
    line-height: 2.6rem;
    box-shadow: 2px 2px 8px 0 rgba(130,130,130,0.50);
    border-radius: 8px;
    position: absolute;
    bottom: calc(24% - 1rem);
    left: calc(24% - 12rem);
    cursor: pointer;
    &--text {
        font-weight: bold;
    }
}
@include rwd($ipad) {
    .kv-container{
        height: 100vw;
    }
    
    .kv-btn {
        width: 15rem;
        left: calc(50% - 7.5rem);
        bottom: 3rem;
        padding: 0;
        font-size: 1.25rem;
        line-height: 1.75rem;
        height: 6rem;
        padding-top: 20px;
    }
}
/* section: p2 ====================================*/
.slogin-container {
    width: 80%;
    height: 21.81rem;
    margin: 0 auto;
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
}

.p2-content {
    &--title {
        font-size: 2.5rem;
        letter-spacing: 0.11rem;
        line-height: 1.5;
        color: $colorSub;
        font-weight: bold;
    }
    &--desc {
        font-size: 1rem;
        letter-spacing: 0.13rem;
        line-height: 2;
        color: #4a4a4a;
    }
    
}
.p2-num {
    width: 25rem;
    font-size: 11.25rem;
    letter-spacing: 0.42rem;
    color: $colorMain;
    padding-left: 5rem;
}

@include rwd($ipad) {
    .slogin-container {
        display: block;
        position: relative;
        padding-top: 2.3rem;
        padding-bottom: 1.38rem;
    }
    .p2-content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &--title {
            font-size: 1.5rem;
            letter-spacing: 0.05rem;
            width: 13rem;
            margin: 0 auto;
            text-align: center;
        }
        &--desc {
            font-size: 0.94rem;
            letter-spacing: 0.1rem;
        }
    }
    .p2-num {
        width: auto;
        font-size: 6.25rem;
        letter-spacing: 0.236rem;
        padding-left: 0;
        position: absolute;
        top: 6rem;
        width: 14rem;
        left: calc(50% - 7rem);
    }
}

/* section: p3 ====================================*/
.p3-top {
    width: 100%;
    background-color: $colorSub;
    color: #fff;
    padding: 4rem 0;
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
    &--desc {
        font-size: 2rem;
        letter-spacing: 0.06rem;
        line-height: 1.2;
        padding-right: 5%;
        font-weight: bold;
    }
    &--btn {
        display: block;
        width: 20rem;
        height: 5rem;
        line-height: 5rem;
        color: #fff;
        text-align: center;
        font-weight: bold;
        font-size: 2rem;
        background-color: $colorMain;
        box-shadow: 2px 2px 8px 0 rgba(130,130,130,0.50);
        border-radius: 8px;
        cursor: pointer;
        &:hover {
            color: #fff;
        }
    }
}
@include rwd($ipad){
    .p3-top {
        padding: 5%;
        @include flex-direction(column);
        &--desc {
            font-size: 1.5rem;
            letter-spacing: 0.04rem;
            line-height: 2.31rem;
            padding-right: 0;
            text-align: center;
            margin-bottom: 1rem;
        }
        &--btn {
            width: 16rem;
            font-size: 1.5rem;
            line-height: 1;
            height: auto;
            padding: 1.5rem 0;
        }
    }
}

/* section: solar-container ======================*/
.slick-prev, .slick-next {
	width: 3.13rem;
	height: 6.25rem;
	background-color: rgba(0,0,0,0.23);
	opacity: 1;
	z-index: 5;
	&:before {
		content: '';
		width: 2.5rem;
		height: 2.5rem;
		position: absolute;
		left: 5%;
		top: 30%;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
		background-image: url('../../images/icon_arrow_down_white.svg');
	}
}
.slick-prev {
	left: 0;
	&:before {
		@include prefix(transform,rotate(90deg));
	}
}
.slick-next {
	right: 0;
	&:before {
		@include prefix(transform,rotate(270deg));
	}
}

/* action: slick-prev, slick-next ----*/
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
	background-color: rgba(0,0,0,0.23);
}
/* section: p4 ====================================*/
.world-container {
    background-image: url('../../images/landingpage/p4-bg.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    padding: 4.88rem 0 2.94rem;
    .world-title {
        font-size: 4.5rem;
        letter-spacing: 0.16rem;
        font-weight: bold;
        text-align: center;
        color: #fff;
        text-shadow: 8px 2px 4px rgba(0,0,0,0.50);
        margin-bottom: 4.5rem;
    }
    .world-content {
        width: 90%;
        margin: 0 auto;
        @include flexbox;
        @include justify-content(center);
        @include align-items(center);
        @include flex-wrap(wrap);
    }
    .world-item {
        max-width: 36rem;
        height: 18rem;
        background-color: #fff;
        @include flexbox;
        @include justify-content(flex-start);
        @include align-items(center);
        margin: 0 2% 3%;
        &-left {
            background-color: $colorSub;
            height: 100%;
            width: 7.3rem;
            @include flexbox;
            @include flex-direction(column);
            @include justify-content(center);
            @include align-items(center);
            &--name {
                color: #fff;
                letter-spacing: 1rem;
                font-weight: bold;
                font-size: 2.5rem;
                -webkit-writing-mode: vertical-lr;
                writing-mode: vertical-lr;
                padding-bottom: 5%;
            }
            &--icon {

            }
        }
        &-right {
            width: calc(100% - 7.3rem);
            font-size: 1.79rem;
            letter-spacing: 0.07rem;
            line-height: 2.81rem;
            padding: 0 5%;
        }
    }
    .world-src {
        color: #fff;
        text-align: center;
        font-size: 1.31rem;
        letter-spacing: 0.13rem;
        line-height: 1.81rem;
    }
}

@include rwd($ipad) {
    .world-container {
        .world-title {
            font-size: 1.5rem;
            letter-spacing: 0.05rem;
        }
        .world-content {
            @include flex-direction(column);
        }
        .world-item {
            width: 100%;
            height: 9.81rem;
            &-left {
                width: 3.75rem;
                &--name {
                    font-size: 1.5rem;
                    letter-spacing: 0.5rem;
                }
                &--icon {
                    width: 2.13rem;
                }
            }
            &-right {
                width: calc(100% - 3.75rem);
                font-size: 0.88rem;
                letter-spacing: 0.03rem;
                line-height: 1.44rem;
            }
        }
        .world-src {
            font-size: 0.88rem;
            line-height: 1.5;
        }
    }
}
/* section: p5 ====================================*/
.about-container {
    height: 56rem;
}   
.about-top {
    width: 100%;
    height: 24rem;
    color: #fff;
    padding: 4rem 0;
    background-image: url('../../images/landingpage/bg-green1.svg');
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: cover;
    margin-bottom: 5%;
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
    &--title {
        font-size: 2.5rem;
        letter-spacing: 0.06rem;
        line-height: 1.2;
        padding-right: 5%;
    }
    &--btn {
        display: block;
        width: 20rem;
        height: 5rem;
        line-height: 5rem;
        color: #fff;
        text-align: center;
        font-weight: bold;
        font-size: 2rem;
        background-color: $colorMain;
        box-shadow: 2px 2px 8px 0 rgba(130,130,130,0.50);
        border-radius: 8px;
        cursor: pointer;
        &:hover {
            color: #fff;
        }
    }
}

@include rwd($ipad){
    .about-container {
        height: auto;
        margin-bottom: 3rem;
    }
    .about-top {
        height: auto;
        padding: 2rem 0;
        margin-top: 0;
        background-color: #197F6F;
        @include flex-direction(column);
        &--title {
            font-size: 1.25rem;
            letter-spacing: 0.08rem;
            line-height: 1.75rem;
            padding-right: 0;
        }
        &--btn {
            width: 80%;
            height: 4.25rem;
            font-size: 1.13rem;
            line-height: 4.25rem;
            letter-spacing: 0.13rem;
            margin-top: 0.13rem;
        }
    }
}

.goodpoint-container {
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
    .goodpoint {
        width: 100%;
        max-width: 30rem;
        color: #4a4a4a;
        @include flexbox;
        @include flex-direction(column);
        @include justify-content(center);
        @include align-items(center);
        &--text {
            font-size: 1.88rem;
            letter-spacing: 0.22rem;
            line-height: 1.5;
            text-align: center;
        }
        &--number {
            font-size: 5rem;
            letter-spacing: 0.22rem;
            position: relative;
            display: inline-block;
            margin-top: 2.6rem;
            >.unit-dollor {
                font-size: 1.88rem;
                position: absolute;
                bottom: 16px;
                right: -70px;
            }
        }
    }
}
.goodpoint--center {
    border-left: 1px solid #979797;
    border-right: 1px solid #979797;
}
.intro-care {
    color: #4a4a4a;
    letter-spacing: 0.05rem;
    text-align: center;
    margin-top: 2.6rem;
}
@include rwd($ipad) {
    .goodpoint-container {
        width: 90%;
        margin: 0 auto;
        @include flex-direction(column);
        .goodpoint {
            @include flex-direction(row);
            @include justify-content(space-between);
            max-width: 100%;
            padding: 1rem 0;
            &--text {
                font-size: 1rem;
                letter-spacing: 0.06rem;
                line-height: 1.56rem;
                text-align: left;
            }
            &--number {
                font-size: 1.5rem;
                letter-spacing: 0.05rem;
                margin-top: 0;
                padding-right: 1rem;
                >.unit-dollor {
                    font-size: 0.6em;
                    letter-spacing: 0.06rem;
                    right: 0;
                    bottom: 6%;
                }
            }
        }
    }
    .goodpoint--center {
        border: none;
        border-top: 1px solid #979797;
        border-bottom: 1px solid #979797;
    }
    .intro-care {
        font-size: 0.8rem;
        letter-spacing: .05rem;
        line-height: 1.5;
        padding: 0 5%;
        text-align: justify;
        margin-top: 1rem;
    }
}
/* section: p6 ====================================*/
.video-container {
    background-image: url('../../images/landingpage/bg-green2.svg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    padding: 14rem 5% 5rem;

    iframe {
        height: 80vh;
        width: 70vw;
        margin: 0 auto;
        display: block;
        max-height: 700px;
    }
}
@include rwd($ipad) {
    .video-container {
        padding: 59px 5%;

        iframe {
            height: 50vw;
            width: 90vw;
        }
    }
}
/* bottom-section =================================*/
.bottom-section {
    &--title {
        background-color: $colorMain;
        text-align: center;
        color: #fff;
        line-height: 6.25rem;
        font-size: 2.2rem;
        letter-spacing: 0.14rem;
        font-weight: bold;
        margin-bottom: 5%;
    }
    
}
.bottom-contact {
    @include flexbox;
    @include justify-content(center);
    @include align-items(flex-start);
}
.bottom-contact-item {
    width: 30%;
    font-size: 1.5rem;
    letter-spacing: 0.15rem;
    line-height: 2.06rem;
    color: #4a4a4a;
    .contact-icon {
        height: 3.5rem;
        display: block;
        margin: 0 auto;
    }
    .contact-link {
        width: 100%;
        text-align: center;
        color: #4a4a4a;
        margin-top: 2.9rem;
        display: block;
    }
    .contact-time {
        text-align: center;
        margin-top: 1rem;
    }
}
.bottom-award {
    width: 90%;
    border-top: 1px solid #979797;
    font-size: 1.5rem;
    letter-spacing: 0.15rem;
    text-align: center;
    line-height: 1.5;
    margin: 3% auto;
    padding-top: 3%;
}
@include rwd($ipad) {
    .bottom-section {
        &--title {
            line-height: 4rem;
            font-size: 1rem;
            letter-spacing: 0.08rem;
        }
        
    }
    .bottom-contact {
        @include flex-direction(column);
        width: 90%;
        margin: 0 auto;
    }
    .bottom-contact-item {
        width: 100%;
        @include flexbox;
        @include align-items(center);
        @include justify-content(center);
        margin-bottom: 2rem;
        .contact-icon {
            height: auto;
            width: 2.5rem;
            margin: 0;
            margin-right: 1rem;
        }
        .contact-content {
            width: 240px;
        }
        .contact-link {
            font-size: 0.88rem;
            margin-top: 0;
            text-align: left;
            line-height: 1;
        }
        .contact-time {
            font-size: 0.88rem;
            text-align: left;
            margin-top: 0;
        }
    }
    .bottom-award {
        font-size: 0.88rem;
        text-align: justify;
    }
}