@charset "UTF-8";
/* @site: 全民電廠
 * @author: nikki
 * @update: nikki (2019-9-9)
 * @page: 
 * @description: 
 */
/* =Variables--------------------------*/
/* font style ---*/
/* desktop & mobile size */
/* color */
/*animation */
/*z-index */
/* z-index順序 */
/* contactBtn => meun mobile => signup/login */
/*為手譏評板裝置，且裝置奘為橫向*/
/*若只判斷orientation:landscape，desktop size也包含在內*/
/* section: p1 ====================================*/
.kv-container {
  width: 100%;
  height: 100vh;
  max-height: 1080px;
  position: relative;
  overflow: hidden;
  background-position: 50% top;
  background-repeat: no-repeat;
  background-size: cover; }

.kv-btn {
  margin: 0 auto;
  padding: 1.6rem 3rem;
  background-color: #036EB8;
  color: #fff;
  text-align: center;
  font-size: 1.88rem;
  letter-spacing: 0.22rem;
  line-height: 2.6rem;
  box-shadow: 2px 2px 8px 0 rgba(130, 130, 130, 0.5);
  border-radius: 8px;
  position: absolute;
  bottom: calc(24% - 1rem);
  left: calc(24% - 12rem);
  cursor: pointer; }
  .kv-btn--text {
    font-weight: bold; }

@media only screen and (max-width: 768px) {
  .kv-container {
    height: 100vw; }
  .kv-btn {
    width: 15rem;
    left: calc(50% - 7.5rem);
    bottom: 3rem;
    padding: 0;
    font-size: 1.25rem;
    line-height: 1.75rem;
    height: 6rem;
    padding-top: 20px; } }

/* section: p2 ====================================*/
.slogin-container {
  width: 80%;
  height: 21.81rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center; }

.p2-content--title {
  font-size: 2.5rem;
  letter-spacing: 0.11rem;
  line-height: 1.5;
  color: #23AD92;
  font-weight: bold; }

.p2-content--desc {
  font-size: 1rem;
  letter-spacing: 0.13rem;
  line-height: 2;
  color: #4a4a4a; }

.p2-num {
  width: 25rem;
  font-size: 11.25rem;
  letter-spacing: 0.42rem;
  color: #036EB8;
  padding-left: 5rem; }

@media only screen and (max-width: 768px) {
  .slogin-container {
    display: block;
    position: relative;
    padding-top: 2.3rem;
    padding-bottom: 1.38rem; }
  .p2-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .p2-content--title {
      font-size: 1.5rem;
      letter-spacing: 0.05rem;
      width: 13rem;
      margin: 0 auto;
      text-align: center; }
    .p2-content--desc {
      font-size: 0.94rem;
      letter-spacing: 0.1rem; }
  .p2-num {
    width: auto;
    font-size: 6.25rem;
    letter-spacing: 0.236rem;
    padding-left: 0;
    position: absolute;
    top: 6rem;
    width: 14rem;
    left: calc(50% - 7rem); } }

/* section: p3 ====================================*/
.p3-top {
  width: 100%;
  background-color: #23AD92;
  color: #fff;
  padding: 4rem 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center; }
  .p3-top--desc {
    font-size: 2rem;
    letter-spacing: 0.06rem;
    line-height: 1.2;
    padding-right: 5%;
    font-weight: bold; }
  .p3-top--btn {
    display: block;
    width: 20rem;
    height: 5rem;
    line-height: 5rem;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    background-color: #036EB8;
    box-shadow: 2px 2px 8px 0 rgba(130, 130, 130, 0.5);
    border-radius: 8px;
    cursor: pointer; }
    .p3-top--btn:hover {
      color: #fff; }

@media only screen and (max-width: 768px) {
  .p3-top {
    padding: 5%;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    .p3-top--desc {
      font-size: 1.5rem;
      letter-spacing: 0.04rem;
      line-height: 2.31rem;
      padding-right: 0;
      text-align: center;
      margin-bottom: 1rem; }
    .p3-top--btn {
      width: 16rem;
      font-size: 1.5rem;
      line-height: 1;
      height: auto;
      padding: 1.5rem 0; } }

/* section: solar-container ======================*/
.slick-prev, .slick-next {
  width: 3.13rem;
  height: 6.25rem;
  background-color: rgba(0, 0, 0, 0.23);
  opacity: 1;
  z-index: 5; }
  .slick-prev:before, .slick-next:before {
    content: '';
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    left: 5%;
    top: 30%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url("../../images/icon_arrow_down_white.svg"); }

.slick-prev {
  left: 0; }
  .slick-prev:before {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg); }

.slick-next {
  right: 0; }
  .slick-next:before {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg); }

/* action: slick-prev, slick-next ----*/
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
  background-color: rgba(0, 0, 0, 0.23); }

/* section: p4 ====================================*/
.world-container {
  background-image: url("../../images/landingpage/p4-bg.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  padding: 4.88rem 0 2.94rem; }
  .world-container .world-title {
    font-size: 4.5rem;
    letter-spacing: 0.16rem;
    font-weight: bold;
    text-align: center;
    color: #fff;
    text-shadow: 8px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 4.5rem; }
  .world-container .world-content {
    width: 90%;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .world-container .world-item {
    max-width: 36rem;
    height: 18rem;
    background-color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    margin: 0 2% 3%; }
    .world-container .world-item-left {
      background-color: #23AD92;
      height: 100%;
      width: 7.3rem;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-direction: normal;
      -webkit-box-orient: vertical;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      align-items: center; }
      .world-container .world-item-left--name {
        color: #fff;
        letter-spacing: 1rem;
        font-weight: bold;
        font-size: 2.5rem;
        -webkit-writing-mode: vertical-lr;
        writing-mode: vertical-lr;
        padding-bottom: 5%; }
    .world-container .world-item-right {
      width: calc(100% - 7.3rem);
      font-size: 1.79rem;
      letter-spacing: 0.07rem;
      line-height: 2.81rem;
      padding: 0 5%; }
  .world-container .world-src {
    color: #fff;
    text-align: center;
    font-size: 1.31rem;
    letter-spacing: 0.13rem;
    line-height: 1.81rem; }

@media only screen and (max-width: 768px) {
  .world-container .world-title {
    font-size: 1.5rem;
    letter-spacing: 0.05rem; }
  .world-container .world-content {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
  .world-container .world-item {
    width: 100%;
    height: 9.81rem; }
    .world-container .world-item-left {
      width: 3.75rem; }
      .world-container .world-item-left--name {
        font-size: 1.5rem;
        letter-spacing: 0.5rem; }
      .world-container .world-item-left--icon {
        width: 2.13rem; }
    .world-container .world-item-right {
      width: calc(100% - 3.75rem);
      font-size: 0.88rem;
      letter-spacing: 0.03rem;
      line-height: 1.44rem; }
  .world-container .world-src {
    font-size: 0.88rem;
    line-height: 1.5; } }

/* section: p5 ====================================*/
.about-container {
  height: 56rem; }

.about-top {
  width: 100%;
  height: 24rem;
  color: #fff;
  padding: 4rem 0;
  background-image: url("../../images/landingpage/bg-green1.svg");
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: cover;
  margin-bottom: 5%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center; }
  .about-top--title {
    font-size: 2.5rem;
    letter-spacing: 0.06rem;
    line-height: 1.2;
    padding-right: 5%; }
  .about-top--btn {
    display: block;
    width: 20rem;
    height: 5rem;
    line-height: 5rem;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    background-color: #036EB8;
    box-shadow: 2px 2px 8px 0 rgba(130, 130, 130, 0.5);
    border-radius: 8px;
    cursor: pointer; }
    .about-top--btn:hover {
      color: #fff; }

@media only screen and (max-width: 768px) {
  .about-container {
    height: auto;
    margin-bottom: 3rem; }
  .about-top {
    height: auto;
    padding: 2rem 0;
    margin-top: 0;
    background-color: #197F6F;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    .about-top--title {
      font-size: 1.25rem;
      letter-spacing: 0.08rem;
      line-height: 1.75rem;
      padding-right: 0; }
    .about-top--btn {
      width: 80%;
      height: 4.25rem;
      font-size: 1.13rem;
      line-height: 4.25rem;
      letter-spacing: 0.13rem;
      margin-top: 0.13rem; } }

.goodpoint-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center; }
  .goodpoint-container .goodpoint {
    width: 100%;
    max-width: 30rem;
    color: #4a4a4a;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center; }
    .goodpoint-container .goodpoint--text {
      font-size: 1.88rem;
      letter-spacing: 0.22rem;
      line-height: 1.5;
      text-align: center; }
    .goodpoint-container .goodpoint--number {
      font-size: 5rem;
      letter-spacing: 0.22rem;
      position: relative;
      display: inline-block;
      margin-top: 2.6rem; }
      .goodpoint-container .goodpoint--number > .unit-dollor {
        font-size: 1.88rem;
        position: absolute;
        bottom: 16px;
        right: -70px; }

.goodpoint--center {
  border-left: 1px solid #979797;
  border-right: 1px solid #979797; }

.intro-care {
  color: #4a4a4a;
  letter-spacing: 0.05rem;
  text-align: center;
  margin-top: 2.6rem; }

@media only screen and (max-width: 768px) {
  .goodpoint-container {
    width: 90%;
    margin: 0 auto;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    .goodpoint-container .goodpoint {
      -webkit-box-direction: normal;
      -webkit-box-orient: horizontal;
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      justify-content: space-between;
      max-width: 100%;
      padding: 1rem 0; }
      .goodpoint-container .goodpoint--text {
        font-size: 1rem;
        letter-spacing: 0.06rem;
        line-height: 1.56rem;
        text-align: left; }
      .goodpoint-container .goodpoint--number {
        font-size: 1.5rem;
        letter-spacing: 0.05rem;
        margin-top: 0;
        padding-right: 1rem; }
        .goodpoint-container .goodpoint--number > .unit-dollor {
          font-size: 0.6em;
          letter-spacing: 0.06rem;
          right: 0;
          bottom: 6%; }
  .goodpoint--center {
    border: none;
    border-top: 1px solid #979797;
    border-bottom: 1px solid #979797; }
  .intro-care {
    font-size: 0.8rem;
    letter-spacing: .05rem;
    line-height: 1.5;
    padding: 0 5%;
    text-align: justify;
    margin-top: 1rem; } }

/* section: p6 ====================================*/
.video-container {
  background-image: url("../../images/landingpage/bg-green2.svg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  padding: 14rem 5% 5rem; }
  .video-container iframe {
    height: 80vh;
    width: 70vw;
    margin: 0 auto;
    display: block;
    max-height: 700px; }

@media only screen and (max-width: 768px) {
  .video-container {
    padding: 59px 5%; }
    .video-container iframe {
      height: 50vw;
      width: 90vw; } }

/* bottom-section =================================*/
.bottom-section--title {
  background-color: #036EB8;
  text-align: center;
  color: #fff;
  line-height: 6.25rem;
  font-size: 2.2rem;
  letter-spacing: 0.14rem;
  font-weight: bold;
  margin-bottom: 5%; }

.bottom-contact {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  align-items: flex-start; }

.bottom-contact-item {
  width: 30%;
  font-size: 1.5rem;
  letter-spacing: 0.15rem;
  line-height: 2.06rem;
  color: #4a4a4a; }
  .bottom-contact-item .contact-icon {
    height: 3.5rem;
    display: block;
    margin: 0 auto; }
  .bottom-contact-item .contact-link {
    width: 100%;
    text-align: center;
    color: #4a4a4a;
    margin-top: 2.9rem;
    display: block; }
  .bottom-contact-item .contact-time {
    text-align: center;
    margin-top: 1rem; }

.bottom-award {
  width: 90%;
  border-top: 1px solid #979797;
  font-size: 1.5rem;
  letter-spacing: 0.15rem;
  text-align: center;
  line-height: 1.5;
  margin: 3% auto;
  padding-top: 3%; }

@media only screen and (max-width: 768px) {
  .bottom-section--title {
    line-height: 4rem;
    font-size: 1rem;
    letter-spacing: 0.08rem; }
  .bottom-contact {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 90%;
    margin: 0 auto; }
  .bottom-contact-item {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    margin-bottom: 2rem; }
    .bottom-contact-item .contact-icon {
      height: auto;
      width: 2.5rem;
      margin: 0;
      margin-right: 1rem; }
    .bottom-contact-item .contact-content {
      width: 240px; }
    .bottom-contact-item .contact-link {
      font-size: 0.88rem;
      margin-top: 0;
      text-align: left;
      line-height: 1; }
    .bottom-contact-item .contact-time {
      font-size: 0.88rem;
      text-align: left;
      margin-top: 0; }
  .bottom-award {
    font-size: 0.88rem;
    text-align: justify; } }
