/* page-circle */
main {
    position: relative;
    // z-index: 1;
    overflow: hidden;
}
.page-circle {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100%;
    position: absolute;
    z-index: -1;
    &-white {
        border: 6px solid #FFFFFF;
        border-radius: 50%;
    }
    &-blue {
        background-image: url("images/icon_circle_blue.svg");
    }
    &-yellow {
        background-image: url("images/icon_circle_yellow.svg");
    }
    &-1 {
        width: 29vw;
        max-width: 419px;
        height: 29vw;
        max-height: 419px;
        top: -80px;
        right: -5%;
    }
    &-2 {
        width: 13vw;
        max-width: 181px;
        height: 13vw;
        max-height: 181px;
        left: 17%;
        top: -62px;
    }
    &-3 {
        width: 37vw;
        max-width: 537px;
        height: 37vw;
        max-height: 537px;
        left: -10%;
        top: 17%;
        @include prefix(transform, rotate(80deg));
    }
    &-4 {
        width: 17vw;
        max-width: 235px;
        height: 17vw;
        max-height: 235px;
        right: 2%;
        top: 28%;
    }
    &-5 {
        width: 29vw;
        max-width: 419px;
        height: 29vw;
        max-height: 419px;
        left: -15%;
        top: 40%;
        @include prefix(transform, rotate(90deg));
    }
    &-6 {
        width: 29vw;
        max-width: 419px;
        height: 29vw;
        max-height: 419px;
        right: -5%;
        top: 56%;
        @include prefix(transform, rotate(247deg));
    }
    &-7 {
        width: 34vw;
        max-width: 419px;
        height: 34vw;
        max-height: 419px;
        left: -6%;
        top: 62%;
    }
    &-8 {
        width: 60vw;
        max-width: 875px;
        height: 60vw;
        max-height: 875px;
        right: -22%;
        top: 70%;
    }
    &-9 {
        width: 30vw;
        max-width: 438px;
        height: 30vw;
        max-height: 438px;
        left: -12%;
        top: 80%;
    }
}

@include rwd(#{$ipad - 1px}) {
    .page-circle {
        &-white {
            border-width: 9px;
        }
        &-blue {
            background-image: url("images/icon_circle_blue_mobile.svg");
        }
        &-yellow {
            background-image: url("images/icon_circle_yellow02_mobile.svg");
        }
        &-1 {
            // width: 21vw;
            // height: 21vw;
            // top: -1%;
            // right: 14%;
        }
        &-2 {
            // width: 29vw;
            // height: 29vw;
            // left: 17%;
            // top: 72px;
        }
    }
}