@charset "UTF-8";
/* @site: 全民電廠
 * @author: nikki
 * @update: nikki (2018-12-10)
 * @page: 新聞分享文章內頁
 * @description: 新聞分享文章類型, 1.圖+文 2.影片+文, 3.純文章
 */
/* =Variables--------------------------*/
/* font style ---*/
/* desktop & mobile size */
/* color */
/*animation */
/*z-index */
/*為手譏評板裝置，且裝置奘為橫向*/
/*若只判斷orientation:landscape，desktop size也包含在內*/
/* common: extend ---*/
.page-kv {
  background-image: url("../../images/news_report_bigimage.jpg"); }

@media only screen and (max-width: 768px) {
  .page-content {
    padding-bottom: 3rem; }
  .page-kv--img {
    width: 35vw;
    max-width: 259px; } }

/* block: article ---*/
.article-container {
  width: 100%;
  max-width: 54.38rem;
  margin: 0 auto; }

/* item: article-source ---*/
.article-source {
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: #6F6F6F;
  border-bottom: 1px solid #D8D8D8;
  padding-bottom: 0.31rem; }
  .article-source--media {
    padding-right: 1rem;
    margin-right: 1rem;
    border-right: 1px solid #D8D8D8; }

/* rwd: article-source ---*/
@media only screen and (max-width: 768px) {
  .article-source {
    font-size: 0.75rem;
    line-height: 1rem; }
    .article-source--media {
      padding-right: 0.5rem;
      margin-right: 0.5rem; } }

/* item: article-content ---*/
.article-content {
  padding-top: 1.88rem;
  margin-top: 0.69rem; }
  .article-content--title {
    font-size: 2.25rem;
    color: #1C8886;
    line-height: 3.13rem;
    letter-spacing: 0.15rem;
    font-weight: bold;
    margin-top: 1.63rem;
    margin-bottom: 2rem; }
  .article-content--data {
    font-size: 1rem;
    line-height: 1.75rem;
    letter-spacing: 0.08rem;
    color: #6F6F6F;
    padding-bottom: 2rem;
    border-bottom: 1px solid #D8D8D8; }

/* rwd: article-content ---*/
@media only screen and (max-width: 768px) {
  .article-content {
    padding-top: 0; }
    .article-content--title {
      font-size: 1.13rem;
      line-height: 1.56rem;
      letter-spacing: 0.06rem;
      margin: 0.63rem auto 0.22rem; }
    .article-content--data {
      font-size: 0.81rem;
      line-height: 1.38rem; } }

/* item: article-footer ---*/
.article-footer {
  margin-top: 1.68rem; }
  .article-footer--social {
    margin-bottom: 3.44rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    justify-content: flex-end; }
    .article-footer--social > button:first-child {
      margin-right: 1.56rem; }
  .article-footer--read {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between; }

/* rwd: article-footer ---*/
@media only screen and (max-width: 768px) {
  .article-footer--social {
    margin-bottom: 1.2rem; } }

/* status: article-content-type ---*/
.article-content--type-img {
  width: 100%;
  height: 38.13rem;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover; }

.article-content--type-video {
  width: 100%;
  height: 38.13rem; }
  .article-content--type-video > iframe {
    width: 100%;
    height: 100%; }

/* rwd: article-content-type ---*/
@media only screen and (max-width: 768px) {
  .article-content--type-img {
    height: 13.31rem; }
  .article-content--type-video {
    height: 13.31rem; } }
