@charset "UTF-8";
/* @site: 全民電廠
 * @author: nikki
 * @update: nikki (2018-12-10)
 * @page: 新聞分享
 * @description: 新聞分享列表
 */
/* =Variables--------------------------*/
/* font style ---*/
/* desktop & mobile size */
/* color */
/*animation */
/*z-index */
/* z-index順序 */
/* contactBtn => meun mobile => signup/login */
/*為手譏評板裝置，且裝置奘為橫向*/
/*若只判斷orientation:landscape，desktop size也包含在內*/
/* common: extend ---*/
.page-kv {
  background-image: url("../../images/news_report_bigimage.jpg"); }

@media only screen and (max-width: 768px) {
  .page-content {
    padding-bottom: 7rem; } }

/* item: article-container ---*/
.article-container {
  width: 100%;
  max-width: 55.44rem;
  margin: 0 auto;
  position: relative; }
  .article-container .article-readmore-btn {
    position: absolute;
    right: 0;
    bottom: -5.56rem; }

/* item: article-item --------*/
.article-item {
  width: 100%;
  max-width: 950px;
  border-bottom: 1px solid #D8D8D8;
  margin: 2.75rem auto;
  padding-bottom: 2.88rem; }

/* rwd: article-item ---*/
@media only screen and (max-width: 768px) {
  .article-item {
    margin: 1.69rem auto; } }

/* item: article-item-source ---*/
.article-item-source {
  height: 1.75rem;
  line-height: 1.75rem;
  color: #303030;
  font-weight: bold;
  margin-bottom: 2rem; }
  .article-item-source--media {
    font-size: 1.25rem;
    padding: 0 1.38rem; }
  .article-item-source--date {
    font-size: 1.13rem;
    border-left: 1px solid #303030;
    padding: 0 1.38rem; }

/* rwd: article-item-source ---*/
@media only screen and (max-width: 768px) {
  .article-item-source {
    height: 1.06rem;
    line-height: 1.06rem;
    margin-bottom: 0.5rem; }
    .article-item-source--media, .article-item-source--date {
      font-size: 0.75rem;
      padding: 0 0.5rem; } }

/* item : article-item-content ---*/
.article-item-content {
  width: 100%;
  max-width: 950px;
  margin: 0 auto; }
  .article-item-content-img {
    width: 22.75rem;
    height: 17rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    /*background-color: $color-dark--2;*/
    margin-right: 0.69rem; }
  .article-item-content-data {
    position: relative;
    width: 100%;
    max-width: 29rem;
    color: #6F6F6F;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center; }
    .article-item-content-data .article-title {
      display: block;
      display: -webkit-box;
      word-break: break-word;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      max-height: 5.12rem;
      max-width: initial;
      font-size: 1.88rem;
      line-height: 2.56rem;
      font-weight: bold;
      color: #1C8886;
      margin-bottom: 1.75rem; }
    .article-item-content-data .article-description {
      display: block;
      display: -webkit-box;
      word-break: break-word;
      text-overflow: ellipsis;
      -webkit-line-clamp: 7;
      -webkit-box-orient: vertical;
      overflow: hidden;
      max-height: 10.92rem;
      max-width: initial;
      font-size: 1rem;
      line-height: 1.56rem;
      text-align: justify;
      letter-spacing: 0.06rem; }

/* rwd: article-item-content ---*/
@media only screen and (max-width: 768px) {
  .article-item-content-img {
    width: 100%;
    height: 13.31rem;
    margin-right: 0; }
  .article-item-content-data .article-title {
    font-size: 1.13rem;
    letter-spacing: 0.06rem;
    line-height: 1.56rem;
    display: block;
    display: -webkit-box;
    word-break: break-word;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-height: 3.12rem;
    max-width: initial;
    margin-bottom: 0.3rem;
    margin-top: 0.5rem; }
  .article-item-content-data .article-description {
    font-size: 0.81rem;
    line-height: 1.38rem;
    display: block;
    display: -webkit-box;
    word-break: break-word;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-height: 5.52rem;
    max-width: initial; } }

/* status: type 1 ---*/
.article-item.article--type1 .article-item-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  align-items: flex-start;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

/* status: type 2 ---*/
.article-item.article--type2 .article-item-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  align-items: flex-start;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .article-item.article--type2 .article-item-content-img {
    position: relative; }
    .article-item.article--type2 .article-item-content-img:after {
      content: '';
      width: 100%;
      height: 100%;
      background-image: url("../../images/play_icon.svg");
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: 13%;
      position: absolute;
      left: 0;
      top: 0; }

/* status: type 3 ---*/
.article-item.article--type3 .article-item-content-data {
  max-width: none; }

/* item : article-readmore-btn ----*/
@media only screen and (max-width: 768px) {
  .article-readmore-btn {
    width: 7.56rem;
    left: calc(50% - 7.56rem/2); } }
