@charset "UTF-8";
/* @site: 全民電廠
 * @author: nikki
 * @update: nikki (2018-12-25)
 * @page: 進階購買
 * @description: 出資資料填寫
 */
/* =Variables--------------------------*/
/* font style ---*/
/* desktop & mobile size */
/* color */
/*animation */
/*z-index */
/*為手譏評板裝置，且裝置奘為橫向*/
/*若只判斷orientation:landscape，desktop size也包含在內*/
/* common: page-container -------*/
/* common: page-kv -----------*/
.page-kv {
  height: 27rem;
  background-position: center 100%;
  background-image: url("../images/message_bigimage.jpg");
  padding-top: 13rem; }
  .page-kv-title {
    font-size: 2.25rem;
    letter-spacing: 0.23rem;
    color: #ffffff;
    text-align: center; }

/* rwd: page-kv ---*/
@media only screen and (max-width: 768px) {
  .page-kv {
    height: 12rem;
    padding-top: 5rem; } }

/* common: page-content -----*/
.page-content {
  margin-top: -6rem;
  padding-bottom: 8rem; }
  .page-content-form {
    width: 90%;
    max-width: 38rem;
    margin: 0 auto;
    padding-top: 2.5rem; }
    .page-content-form--title {
      font-size: 1.25rem;
      line-height: 1.75rem;
      letter-spacing: 0.08rem;
      color: #303030;
      text-align: center;
      margin-bottom: 1.56rem; }
    .page-content-form .form-step-container {
      margin: 0 auto 3.25rem; }
    .page-content-form .btn--form-send {
      width: 100%;
      max-width: 18.75rem;
      margin-top: 5%; }

/* rwd: page-content ---*/
@media only screen and (max-width: 768px) {
  .page-content {
    margin-top: -2rem; } }

/* page: FormResult.cshtml =======*/
.form-result-content {
  padding-top: 10%; }
  .form-result-content--img {
    width: 3.13rem;
    display: block;
    margin: 0 auto; }
  .form-result-content--title {
    font-size: 1.5rem;
    letter-spacing: 0.03rem;
    color: #1C8886;
    text-align: center;
    font-weight: bold;
    margin: 2rem auto; }
  .form-result-content--text {
    text-align: center;
    margin-bottom: 8%; }
    .form-result-content--text > span {
      color: #1C8886;
      font-weight: bold; }

/* rwd: .form-result ---*/
@media only screen and (max-width: 768px) {
  .form-result-content--img {
    width: 2.5rem; }
  .form-result-content--title {
    font-size: 1rem;
    letter-spacing: 0;
    margin-top: 0.69rem auto 1.69rem; }
  .form-result-content--text {
    font-size: 0.88rem;
    line-height: 1.5rem; }
  .form-result-content .btn--form-send {
    width: 80%; } }
